.{
    background-color: aqua;
}

.singlepost{
    flex:  9;
    background-color: aqua;
}

.singlepost-wrapper{
    padding: 20px;
    padding-right: 0px;
}

.singlepost-img {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    
}

.singlepost-title {
     text-align: center;
     margin: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 25px;
}

.singlepost-edit {
    float: right;
    font-size: 15px;
}

.singlepost-icon1 {
    margin-left: 10px;
    font-size: 20px;
    color: teal;
    font-weight: bold;
}


.singlepost-icon2 {
    margin-left: 10px;
    font-size: 20px;
    color:red;
    font-weight: bold;
}

.singlepostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.singlepost-description{
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}

.singlepost-description::first-letter{
    margin-left: 30px;
    font-size: 40px;
}